@import "tailwindcss";







.btn-primary {
  color: #FFFFFF;
  background-color: #89EA5F;
  padding: 10;
}

/* .video-bg {
  position: fixed;
  inset: 0;
  z-index: -1;
}

.video-bg video {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */




/* animation */


/* @theme {
  --color-background: ,
  
  --color-primary-foreground: ,
} */


@layer base{
  /* html {
    scroll-behavior: smooth;
  } */
  button {
    cursor: pointer;
  }
  /* .font-serif{
    font-family: 'Playfair Display', serif;
  } */
}





.fade-in {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.left-to-right {
  opacity: 0;
  animation: leftToRight 0.8s ease-out forwards;
}

.left-to-right-hover {
  opacity: 0;
  background-color: #21550b;
  animation: leftToRight 0.8s ease-out forwards;
}

@keyframes leftToRight {
  from {
    transform: translateX(-40px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.right-to-left {
  opacity: 0;
  animation: leftToRight 2s ease-out forwards;
}

@keyframes leftTORight {
  from {
    transform: translateX(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


.animate {
  opacity: 0;
  transform: translate( 0px, 40px);
  transition: all 0.8s ease-in-out;
}

.animate.show {
  opacity: 1;
  transform: translate(0, 0);
}








@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.92);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-scaleIn {
  animation: scaleIn 0.25s ease-out;
}
